USE [stores]
GO
/****** Object:  Table [stores].[test]    Script Date: 08/24/2021 13:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stores].[test](
	[inventory] [decimal](18, 4) NOT NULL
) ON [PRIMARY]
GO


