a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_27fdaa10 th { border: 1px solid #000000;  } 
#table_27fdaa10 td { border: 1px solid #000000;  } 
body { background-color:#FED700; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1227c0aa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background:none;  }
#img_56e27b3b { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_1854cff9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1854cff9_padding { margin: 0px 8px 0px 8px;display: block;  }
#container_94f4ad3 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:311px; background-color:#FFFFFF; border: 1px solid #404040;  }
#container_94f4ad3_padding { margin: 35px 20px 35px 20px;display: block;  }
#container_4fccc933 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:34px; background-color:#FED700; border: 1px solid #404040;  }
#container_4fccc933_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_428514aa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:178px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#table_27fdaa10 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; margin:10px 0px 0px 0px;width:100%; height:160px; background:none; border: 1px solid #000000; table-layout: fixed;  }
#cell_2cec44a1 {  }
.textstyle3 { text-align:center; }
#cell_7635e4ac {  }
#cell_b0df8f6 {  }
#cell_2c7116ea {  }
#button_2823f0b8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_36e1e858 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 1px;width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_510d7fec { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 1px;width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#cell_71037a78 {  }
.textstyle4 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_1ce2b571 {  }
#button_743390a2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:62px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_341793ed { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 1px;width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_34042f14 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 1px;width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#cell_14f6314d {  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_5413056b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:164px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
