h1 {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 14px;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    background-color: gold;

}

h2 {
    border: 1px solid black;
    padding: 10px;
    font-weight: 100;   
}

h3 {
    border: 1px solid black;
    padding: 10px;
    font-weight: 100;   
}

p {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 14px;
    text-align: left;
}

input[type=submit] {
    width: 120px;
    background-color: #ff8f00;
    color: white;
    padding: 7px 25px;
    margin: 8px 50;
    width: 200px;
    border: solid;
    cursor: pointer;
    font-weight: bolder;
  }
  
  input[type=submit]:hover {
    background-color: #f57c00;
  }
   
#button_charging{
  box-sizing: border-box; 
  width:100px; 
  height:30px; 
  background-color:#FF8E01; 
  border: 0px solid #404040; 
  font-size:11pt; 
  font-family:Arial, Helvetica, sans-serif; 
  color:#FFFFFF; 
  font-weight:bold;  
}

#button_charging_bts{
  box-sizing: border-box; 
  width:140px; 
  height:30px; 
  background-color:#FF8E01; 
  border: 0px solid #404040; 
  font-size:11pt; 
  font-family:Arial, Helvetica, sans-serif; 
  color:#FFFFFF; 
  font-weight:bold;  
}
   
  .ContentArea {
    border: 1px solid black;
    

    padding: 30px;
    background-color: white;
    width: 95%;
    height: 2000px; /* page scroller adjuster */
   /* margin: 60px auto; moves the content area up */ 
   margin: 100px auto;

  }
  
  body {
     background-color:gold;
    }

input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
}

input[type=number] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
    
}

input[type=email] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
textarea{
    vertical-align: top;

}
.grid-form {
    display: flex;
  }
  
.grid-form input {
  width: 200px;
  padding: 5px;
}

.grid-form input[type="radio"] {
  width: 10px;
}

.grid-form textarea {
  width: 200px;
  height: 100px;
  padding: 5px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}


#bigger{
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 18px;
  text-align: left;
  border: 1px solid black;
  padding: 10px;
  background-color: gold;
}

.column {
  float: left;
  padding: 10px;
  height: 100px; 
}

.left{
  width: 45%;
} 

.right {
  width: 23.5%;
  line-height: 0;
}

.middle {
  width: 28%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#use{
  background-color: #ff8f00;
  color: white;
  padding: 7px 25px;
  margin: 0px 0;
  width: 25px;
  border: solid;
  cursor: pointer;
  font-weight: bolder;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

