a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FED700; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_53d4d74c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background:none;  }
#img_44235dba { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_45e06dfd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_45e06dfd_padding { margin: 0px 8px 0px 8px;display: block;  }
#container_1e1f61ba { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:311px; background-color:#FFFFFF; border: 1px solid #404040;  }
#container_1e1f61ba_padding { margin: 35px 20px 35px 20px;display: block;  }
#container_145e5370 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:34px; background-color:#FED700; border: 1px solid #404040;  }
#container_145e5370_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_67580ade { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:171px; background:none; border: 1px solid #404040;  }
#container_67580ade_padding { margin: 10px; display: block;  }
#text_571c3245 { position:absolute; left:35px; top:7%; background:none;  }
.textstyle4 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#edit_572c1e5c { box-sizing: border-box; position:absolute; left:120px; top:26%; width:145px; height:24px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_513301f0 { box-sizing: border-box; position:absolute; left:35px; top:72%; width:100px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_60320bed { box-sizing: border-box; position:absolute; left:138px; top:72%; width:102px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#text_4cf5c0b1 { position:absolute; left:35px; top:26%; background:none;  }
#edit_e6830fc { box-sizing: border-box; position:absolute; left:120px; top:47%; width:145px; height:24px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_99b9ef4 { position:absolute; left:35px; top:47%; background:none;  }
#button_1e42030 { box-sizing: border-box; position:absolute; left:243px; top:72%; width:102px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
