a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_365f079f th { border: 1px solid #000000;  } 
#table_365f079f td { border: 1px solid #000000;  } 
body { background-color:#FED700; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_555429bd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background:none;  }
#img_46617e6a { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
#container_4146eb3e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4146eb3e_padding { margin: 0px 8px 0px 8px;display: block;  }
#container_7d1752af { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:311px; background-color:#FFFFFF; border: 1px solid #404040;  }
#container_7d1752af_padding { margin: 35px 20px 35px 20px;display: block;  }
#container_1fd9e86b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:34px; background-color:#FED700; border: 1px solid #404040;  }
#container_1fd9e86b_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_4bfff64d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_4bfff64d_padding { margin: 10px; display: block;  }
#text_3dae042d { position:absolute; left:78px; top:17%; background:none;  }
.textstyle3 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.ulstyle1 { margin:0; font-size: 11pt; color:#000000;  }
#edit_64f37254 { box-sizing: border-box; position:absolute; left:207px; top:41%; width:150px; height:24px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_6b4db2e2 { box-sizing: border-box; position:absolute; left:207px; top:67%; width:100px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_7302d56d { box-sizing: border-box; position:absolute; left:423px; top:67%; width:129px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_68dc096 { box-sizing: border-box; position:absolute; left:315px; top:67%; width:100px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_6a5612c4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:143px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_7a1f4a7c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:100%; min-height:37px; background-color:#FED700; border: 1px solid #404040;  }
#container_7a1f4a7c_padding { margin: 10px; display: block;  }
#table_365f079f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:101px; background:none; border: 1px solid #000000; table-layout: fixed;  }
#cell_798910f0 {  }
.textstyle4 { text-align:center; }
#cell_6fab104c {  }
#cell_3a151bc {  }
#cell_63851a2 {  }
#cell_30174d59 {  }
#cell_382cbccc {  }
#cell_276db422 {  }
#cell_49ec4bae {  }
#button_192b9a7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:63px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#cell_4c46cf44 {  }
#cell_4a8d779a {  }
#button_2fe2d46c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:62px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#cell_5f0116bc {  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_647c82f5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:143px; height:30px; background-color:#FF8E01; border: 0px solid #404040; font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
