* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    color: #0a0918;

}

h1 {
    font-size: 1.75em;
    font-weight: 900;
    color: #0a0918;
}

h2 {
    font-size: 1.25em;
    font-weight: 900;
    color: #0a0918;
}

p {
    line-height: 1.5;
    font-size: 15px;
}

.subheader {
    border: 1px solid black;
    background-color: gold;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}


.primary-button {
    padding: 10px 15px;
    color: white;
    background-color: #f57c00; 
    outline: none;
    border: none; 
    cursor: pointer;

    transform: scale(1, 1);
    transition: all 0.3s;
}

.primary-button:hover {
    transform: scale(1.05, 1.05);
}

/*****************************************************************************

    menu.inc.php

******************************************************************************/

#menu {
    border-bottom: 1px solid #000;
    position: fixed;
    background-color: gold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    align-items: center;
}

#logo:hover {
    opacity: 0.6;
}

nav ul {
    margin: 10px auto auto 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    height: 40px;
    padding: 0 1px 10px 1px;
    cursor: pointer;
}

nav ul a, nav ul button {
    color: #000;
    text-decoration: none;
    margin: 10px 10px 0 10px;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    outline: none;
}

nav li:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

#cart-circle {
    margin-top: 10px;
    margin-right: 62px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
}

#cart-circle:hover {
    background-color: rgba(187,187,187,0.2);
}

#cart-circle a {
    text-decoration: none;
    color: #000;
}

#cart-circle i {
    padding: 10px;
}

#cart-count {
    display: none;
    position: absolute;
    top: 10px;
    right: 85px;
    font-size: 9px;
    padding: 3px;
    background-color: #ee2761;
    border-radius: 30%;
    color: #fff;
    pointer-events: none;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -1px;
    top: 52px;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05);
    z-index: 1;
    overflow: hidden;

    padding: 4px 1px 4px 1px;
    border: 1px solid rgb(240,240,240);
    border-radius: 3px;
    text-align: left;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
    cursor: pointer;
}

.dropdown-content a {
    padding: 4px 16px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    color: #ee2761;
    font-weight: bold;
}

.dropdown i {
    color: rgb(186,186,188);
    font-size: 75%;
    padding-left: 5px;
}

/*****************************************************************************

    sidemenu.php

******************************************************************************/

#sidemenu {
    position: fixed; 
    background-color: rgb(230, 230, 230); 
    width: 250px; 
    height: calc(100vh - 60px);
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.sidemenu-btn {
    display: block;
    padding: 10px 15px;
    background-color: rgb(255, 165, 0);
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
}

.sidemenu-subbtn {
    display: block;
    margin-left: 15px;
    padding: 10px 15px;
    background-color: rgb(255, 205, 60);
    color: white;
    margin-bottom: 5px;
    text-decoration: none;
}

/*****************************************************************************

    menu_compact.inc.php

******************************************************************************/

#menu-compact {
    display: grid;
    height: 60px;
    grid-template-columns: calc(184px + 62px) auto 300px;
    border-bottom: 1px solid #ddd;
}

#menu-compact #logo-container, #menu-compact nav, #menu-compact #cart-container {
    display: inline-block;
}

#menu-compact #logo {
    height: 30px;
    width: 156.25px;
    margin-top: 15px;
    margin-left: 62px;
}

/*****************************************************************************

    footer.inc.php

******************************************************************************/

footer {
    height: 80px;
    border-top: 1px solid #ddd;
    margin-top: 55px;
}

#footer-content {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
}

#footer-grid {
    display: grid;
    grid-template-columns: 250px 250px auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

footer h3 {
    color: #1d1d1f;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33337;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a, footer p {
    text-decoration: none;
    color: #515154;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
}

footer a:hover {
    text-decoration: underline;
}

#footer-context {
    display: grid;
    grid-template-columns: auto;
}

#footer-authors {
    text-align: left;
}

@media only screen and (min-width: 1200px) {
    #footer-context {
        grid-template-columns: auto auto;
    }
    #footer-authors {
        text-align: right;
    }
}

/*****************************************************************************

    index.php

******************************************************************************/

#content {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
/*    background-color: lightcoral; */
}

